@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

.signup-banner {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.signup-banner p {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-family: "Plus Jakarta Sans", sans-serif;

}


.signup-banner p a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
}